# Duplicates

In [1]:
import pandas as pd

In [2]:
temp2 = pd.Series([1, 2, 3, 4], index=['A', 'B', 'C', 'D'])

In [5]:
temp3 = temp2.append(pd.Series([4], index=['E']))

In [6]:
temp3

A    1
B    2
C    3
D    4
E    4
dtype: int64

In [7]:
temp3.duplicated()

A    False
B    False
C    False
D    False
E     True
dtype: bool

In [8]:
temp3.duplicated().any()

True

In [9]:
temp3.duplicated().all()

False

In [10]:
temp3.duplicated('last')

A    False
B    False
C    False
D     True
E    False
dtype: bool

In [11]:
temp3.duplicated(keep=False)

A    False
B    False
C    False
D     True
E     True
dtype: bool

In [12]:
temp3.drop_duplicates()

A    1
B    2
C    3
D    4
dtype: int64

In [13]:
temp3

A    1
B    2
C    3
D    4
E    4
dtype: int64

In [14]:
temp4 = temp2.append(pd.Series([200], index=['B']))

In [15]:
temp4

A      1
B      2
C      3
D      4
B    200
dtype: int64

In [16]:
temp4.loc['B'] # sometimes don't give scaler!!!

B      2
B    200
dtype: int64

# NaN

In [17]:
temp5 = pd.Series([1, 2, 3, None])

In [18]:
temp5

0    1.0
1    2.0
2    3.0
3    NaN
dtype: float64

In [19]:
temp5.count() # don't count nan values!

3

In [20]:
len(temp5)

4

In [21]:
temp5 + 2

0    3.0
1    4.0
2    5.0
3    NaN
dtype: float64

In [22]:
temp5.mean()

2.0

In [24]:
temp5.isnull().any()

True

In [25]:
temp5.isnull()

0    False
1    False
2    False
3     True
dtype: bool

In [26]:
temp5.dropna()

0    1.0
1    2.0
2    3.0
dtype: float64

In [27]:
temp5

0    1.0
1    2.0
2    3.0
3    NaN
dtype: float64

In [28]:
temp5.fillna(10)

0     1.0
1     2.0
2     3.0
3    10.0
dtype: float64

In [29]:
temp5

0    1.0
1    2.0
2    3.0
3    NaN
dtype: float64

In [30]:
temp5.fillna(method='ffill')

0    1.0
1    2.0
2    3.0
3    3.0
dtype: float64